/* Footer */
footer {
    clear: both;
    margin-top: 2em;
}

.links {
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    margin-bottom: 10px;
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
    text-align: center;
}
